body{
    background:linear-gradient(170deg, #f7f5fb 50%, #fff 50%);
    height: 100vh;
}

img.welcome{
  width:45vh;
  height:auto;
  display:block;
  margin:0 auto;
}



@media (min-width:768px){  
  .wrapper{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh
  }
  .wrapper >p:last-child{padding-right:5%important}
  
}
@media (min-width:0px) and (max-width:576px){  

  main#auth{
      text-align:center;
  }
}

